/* src/pages/Certifications.css */

.certifications-section {
  background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
  padding: 2%;
    overflow: scroll;
    scroll-behavior:smooth;
    height: 100%;
  }
  
  .certifications-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    scroll-behavior: auto;
    justify-content: center;
  }
  
  .certification-card {
    background-color: #f0e3e3;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .certification-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .certification-card h3 {
    margin: 0;
    color: black;
  }
  
  .certification-card h4 {
    margin: 0.5rem 0;
    color: #34495e;
  }
  
  .date {
    font-size: 0.9rem;
    color: #596d6e;
  }
  
  .credential-link {
    display: inline-block;
    margin-top: 0.5rem;
    color: #732f2f;
    font-weight: bold;
  }
  