/* src/pages/Experience.css */

.experience-section {
  background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
  padding: 2%;
    overflow: scroll;
    scroll-behavior:smooth;
    height: 100%;
  }
  
  .experience-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .experience-card {
    background-color: #f0e3e3;
    padding: 1.5rem;
    border-left: 5px solid #763c3c;
    border-radius: 5px;
  }
  
  .experience-card h3 {
    margin: 0;
    color: #2c3e50;
  }
  
  .experience-card h4 {
    margin: 0.5rem 0;
    color: #34495e;
  }
  
  .duration {
    font-size: 0.9rem;
    color: #4f5d5e;
  }
  
  .experience-card ul {
    list-style: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  @media (max-width: 768px) {

  }