/* src/pages/Skills.css */

.skills-section {
  background: linear-gradient(to bottom right, #f0f8ff, #e6e6fa);
  padding: 2%;
    overflow: scroll;
    scroll-behavior:smooth;
    height: 100%;
  }
  
  .skills-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .skill-category {
    flex: 1;
    min-width: 250px;
  }
  
  .skill-category h3 {
    color: #771e1e;
    margin-bottom: 1rem;
  }
  
  .skill-category ul {
    list-style: none;
    padding: 0;
  }
  
  .skill-category ul li {
    background-color: #cacadd;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .skill-category ul li:hover {
    background-color: #dcdcee;
  }
  